<?xml version="1.0" encoding="UTF-8"?>

<!-- 
1. jdbc.sqlonly 
SQL문만을 로그로 남기며, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문이 보여진다. 

2. jdbc.sqltiming
SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. 

3. jdbc.audit 
ResultSet을 제외한 모든 JDBC 호출 정보를 로그로 남긴다. 
많은 양의 로그가 생성되므로 특별히 JDBC 문제를 추적해야 할 필요가 있는 경우를 제외하고는 사용을 권장하지 않는다. 

4. jdbc.resultset 
ResultSet을 포함한 모든 JDBC 호출 정보를 로그로 남기므로 매우 방대한 양의 로그가 생성된다.

5. jdbc.connection
connection이 open/close에 대한 로그를 남긴다.

또한, 각 Logger에 대한 로그 레벨은 DEBUG, INFO, ERROR 중 하나를 선택할 수 있다. 
•DEBUG - SQL이 실행된 클래스명과 Line 번호를 로그로 남긴다.
•INFO - SQL문을 로그로 남긴다.
•ERROR - SQL 실행 에러가 발생한 경우 stack trace 정보를 로그로 남긴다.

보통 SQL 구문을 보기 위해 사용하는 경우 jdbc.sqlonly를 INFO 레벨로 설정하면 된다.
SQl 구문이 얼마만큼 시간동안 실행되는지 알고 싶은 경우는 jdbc.sqltiming을 사용한다.
Jdbc.audit, jdbc.resultset, jdbc.connection은 방대한 로그를 남기기 때문에 특별한 일이 아니면 사용하지 않는다.
 -->

<Configuration monitorInterval="10">

	<Properties>
    	<Property name="databaseFilter">\sorg.apache.commons.dbcp.DelegatingPreparedStatement.execute\(DelegatingPreparedStatement.java:172\)\r\n2.\s</Property>
  	</Properties>
  	
	<Appenders>
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<Filters>
				<RegexFilter regex=".* Mapper .*" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<PatternLayout pattern="[%-5p %X{staffNo} %c] %m%n" />
		</Console>
		
		<JDBC name="databaseAppender" tableName="TN_SQLLOG">
			<Filters>
				<RegexFilter regex=".* TN_WEBLOG .*" onMatch="DENY" onMismatch="NEUTRAL"/>
				<RegexFilter regex=".* TN_METHODLOG .*" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
			<ConnectionFactory class="kr.pe.felixproject.core.FelixLogConnectionFactory" method="getDatabaseConnection" />
			<Column name="LOG_SEQ" literal="DATE_FORMAT(now(6),'%Y%m%d%H%i%s%f')" />
			<Column name="LOG_LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="QUERY" pattern="%replace{%message}{(${databaseFilter})}{}" />
			<Column name="STAFF_NO" pattern="%X{staffNo}" />
			<Column name="IPADDRESS" pattern="%X{ipAddress}" />
		</JDBC>
	</Appenders>

	<Loggers>
		<Logger name="jdbc.audit" level="OFF" additivity="false">
			<AppenderRef ref="consoleAppender" />
		</Logger>
		<Logger name="jdbc.sqlonly" level="INFO" additivity="false">
			<AppenderRef ref="consoleAppender" />
			<AppenderRef ref="databaseAppender" />
		</Logger>
		<Logger name="jdbc.resultsettable" level="INFO" additivity="false">
			<AppenderRef ref="consoleAppender" />
		</Logger>
		<Logger name="kr.pe.felixproject" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender" />
		</Logger>

		<Root level="ERROR">
			<AppenderRef ref="consoleAppender" />
		</Root>
	</Loggers>

</Configuration>
