<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
    	<Property name="databaseFilter">\sorg.apache.commons.dbcp.DelegatingPreparedStatement.execute\(DelegatingPreparedStatement.java:172\)\r\n2.\s</Property>
  	</Properties>
  	
	<Appenders>
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p : %X{staffNo} : %c] %m%n" />
		</Console>
		
		<JDBC name="databaseAppender" tableName="TN_SQLLOG">
			<!-- <RegexFilter regex=".*  .*" onMatch="DENY" onMismatch="ACCEPT"/> -->
			<ConnectionFactory class="kr.pe.felixproject.core.FelixLogConnectionFactory" method="getDatabaseConnection" />
			<Column name="LOG_SEQ" literal="DATE_FORMAT(now(6),'%Y%m%d%H%i%s%f')" />
			<Column name="LOG_LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="QUERY" pattern="%replace{%message}{(${databaseFilter})}{}" />
			<Column name="STAFF_NO" pattern="%X{staffNo}" />
			<Column name="IPADDRESS" pattern="%X{ipAddress}" />
		</JDBC>
	</Appenders>

	<Loggers>

		<Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender" />
			<AppenderRef ref="databaseAppender" />
		</Logger>

		<Logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender" />
		</Logger>

		<Logger name="felixproject" level="DEBUG" additivity="false">
			<AppenderRef ref="consoleAppender" />
		</Logger>

		<Root level="ERROR">
			<AppenderRef ref="consoleAppender" />
		</Root>
	</Loggers>

</Configuration>
