<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{COMPACT} [%5p] [%X{userId}] [%c] %m%n" />
		</Console>
	</Appenders>

	<Loggers>

		<Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<Logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<Logger name="felixproject" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Root level="ERROR">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>

</Configuration>
